{% extends "base.twig" %}

{% block content %}
    <article class="post-type-{{ post.post_type }}" id="post-{{ post.ID }}">
        <section class="article-content">
            <div class="article-body">
                <h6 class="mt-2" style="opacity:0.3;font-weight:200;">{{ post.title }}</h6>
                {{ post.content }}
            </div>
        </section>
    </article>
{% endblock %}
